extends src/layout.pug
include src/components/icon_svg.pug

block content
  main.tc-container.container
    .content
      .to-noobs
        span.title.tc-font-title 有些话想说
        ol.sentences
          li 千万别当程序员。
          li 干了就要变成加班的代名词，一天十二小时。
          li 如果加班多的话，工资得多要，才对得起身体啊！
          li 工资少，还老委屈了，二话不说走人先。
          li 回家卖烧饼月入一两万了解一下······
      section.articles
        ul.list.skeleton
          //- 骨架屏
          each tmp in Array(3)
            li.list-item.skeleton-article
              .title
              .description
                span
                span
              .p
              .p
              .p
          - const { humanDate } = require('src/common/index.pug.js');
          each article in _cache.index.articles
            li.list-item.tc-list-item-article
              h3.title
                a.tc-font-title(href= `/articles/${article.id}`)= article.title
              .description
                time(title="发布时间", datetime= article.create_at)= humanDate(article.publish_at)
                i.tc-divider
                span(title="分类标签")= article.tag_name
              p= article.summary
        .actions
          button#more.tc-button.tc-ripple 加载更多
          a(href="/articles") 查看所有

    aside.info-nav
      .tag-cloud
        span.title.tc-font-title 标签云
        -
          const { resolveTags }  = require('./index.pug.js');
          const { tags } = _cache.index;
          const realTags = resolveTags(tags);
        .tags.skeleton
          //- 骨架屏
          each tmp in Array(9)
            span.skeleton-tag
          each tag in realTags
            a(class= `tag ${tag.className}`, href= `/articles#${tag.id}`, style= `color: ${tag.color}`)= tag.name
      figure.topics
        figcaption.tc-font-title Topics
        - const { topics } = _cache.index;
        ul.list.skeleton
          //- 骨架屏
          each tmp in Array(5)
            li.list-item.skeleton-topic
          each topic, i in topics
            li.list-item
              if i < 3
                +icon('fire', 20, '#ff6977', 'list-style', `opacity: ${1 - (i / 5)}`)
                //- img.list-style(src= require('src/assets/icon_fire.png'), style= `opacity: ${1 - (i / 5)}`, width=20, height=20)
              else
                span.list-style= i + 1
              a(href= `/articles/${topic.id}`)= topic.title

