include icon_svg.pug

//- pathname 由 html-webpack-plugin 注入参数
header.header#top
  nav.tc-container.nav-header
    form#search(action="/search")
      input(
        type="search",
        placeholder="搜点什么呢",
        name="q",
        autocomplete="off",
        autofocus= pathname === 'search',
        maxlength=50,
      )
      button.icon(type="submit")
        +icon('search', 20, '#fff')
    ul
      -
        const links = {
          index: {
            path: '/',
            text: '首页',
            className: '',
          },
          note: {
            path: '/note',
            text: '笔记',
            className: '',
          },
          life: {
            path: '/life',
            text: '生活',
            className: '',
          },
          about: {
            path: '/about',
            text: '关于这个',
            className: '',
          },
        };
        if (links[pathname]) links[pathname].className = 'active';
      each link in links
        li
          a(class= link.className, href= link.path)= link.text
    - const msgClass = `msg ${pathname === 'msg' ? 'active' : ''} `
    a(class= msgClass href="/msg", title="留言板")
      +icon('msg', 40)
