header
  nav.container
    form#search(action)
      img(src= require('../assets/icon_search.png'), alt="", width=20, height=20)
      input(type="text", placeholder="搜点什么呢")
    ul
      - var path = htmlWebpackPlugin.options.pathname
      li
        a(class= (path === 'index' ? 'active' : ''), href="/") 首页
      li
        a(href="/") 笔记
      li
        a(href="/") 生活
      li
        a(href="/") 关于这个
    - var d = new Date();
    - var YYYY = d.getFullYear();
    - var MM = d.getMonth() + 1;
    - var DD = d.getDate();
    - if (MM < 10) MM = `0${MM}`
    - if (DD < 10) DD = `0${DD}`
    time!= `<span style="font-size: 18px">${YYYY}</span><br>${MM}.${DD}`
